    <div class="py-4 bg-dark text-white mt-3 transparentSquare rounded">
      <h2>Registro</h2>
      <hr class="w-30" />

      <form >
        <div class="form-group row w-50 m-auto ">
          <div class="form-group col-12 col-sm-6 ">
            <label>Email</label>
            <input class="form-control m-auto mb-3" />
          </div>
          <div class="form-group col-12 col-sm-6">
            <label>Nombre</label>
            <input class="form-control m-auto mb-3" />
          </div>
          <div class="form-group col-12 col-sm-6">
            <label>Password</label>
            <input class="form-control m-auto mb-3" type="password" name="password" id="password" placeholder="Ej. ********" />
          </div>
          <div class="form-group col-12 col-sm-6">
            <label>Repita la password</label>
            <input class="form-control m-auto mb-3" type="password" name="confirm_password" id="confirm_password" placeholder="Ej. ********"/>
          </div>
          <div class="form-group col-12 col-sm-6">
            <label>Años de experiencia</label>
            <input class="form-control m-auto mb-3" />
          </div>
          <div class="form-group col-12 col-sm-6">
            <label>Especialidad</label>
            <input class="form-control m-auto mb-3" />
          </div>
          <div class="form-group col-12 col-sm-12 mb-3">
            <label>Foto de perfil</label>
            <input type="file" />
          </div>
        </div>
        <button class="btn btn-outline-info mb-3">Registrarme</button>
        <p><a href="/login"> Iniciar sesión</a></p>
      </form>
    </div>